/* .button{
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: teal;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
 } */

/* .button:hover,
.button:focus{
  background-color: palevioletred;
} */

/* .button::before{
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: red;
  background-image: url();
  background-size: contain;
} */

/* .button > .icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
        background-color: red;
        outline: 1px solid black;
  background-image: url();
  background-size: contain;
} */

/* LIST */
/* .list{
  display: flex;
  padding: 0;
  list-style: none;
} */

/* .list-item{
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
} */

/* Приклад для "наших переваг" */
/* block - лише в тому випадку, якщо треба розтягнути на ширину батька */
/* .list-item::before{
   display: block;
  content: '';
  height: 120px;
         outline: 1px solid red;
        background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #cccccc;
} */

/* .list-item:nth-child(1)::before{
  background-image: url();
} */

/* Значок соцмережі */
/* .link{
  display: inline-block;
  content: '';
  width: 44px;
  height: 44px;
  background-image: url();
  border-radius: 50%;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: red;
}

.link:hover{
  background-color: teal;
} */

/* Загальні стилі */
:root{
  --white-color: #ffffff;
  --text-color: #757575;
  --hover-color: #2196f3;
  --section-color: #2f303a;
  --name-color: #212121;
}

.body{
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

a{
  text-decoration: none;
}

address {
  display: inline-block;
  font-style: normal;
}

img{
  display: block;
}

header > a{
  color: var(--text-color);
}

a:hover,
a:focus {
  color: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav{
  display: flex;
  align-items: center;
}

/* Нижня межа хедера */
.header__border{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}

.header{
  padding: 24px 0;
}

/* Перша частина логотипу */
.web{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

/* Друга частина логотипу - header */
.header__studio{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

/* Друга частина логотипу - footer */
.footer__studio{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* Вирівнювання посилань навігації */
.nav__list{
  display: flex;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__list .nav__item:not(:last-child){
  margin-right: 50px;
}

/* Альтернативні варіанти */
/* .nav__list .nav__item:last-child{
  margin-right: 0px;
} */

/* .nav__list .nav__item + .nav__item{
  margin-left: 0px;
}  */

.contact__item{
  display: flex;
  align-items: center;
  color: var(--text-color);
}

/* Іконки хедера */
.envelope{
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
  
.envelope:hover,
.envelope:focus{
  fill: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.smartfone{
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.smartfone:hover,
.smartfone:focus{
  fill: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Вирівнювання контактів */
.contacts{
  display: flex;
  margin-left: auto;
}

.contacts :not(:last-child){
  margin-right: 30px;
}

/* Посилання навігації */
.nav__link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--name-color);
}

.nav__link:hover,
.nav__link:focus{
  color: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link{
  color: var(--hover-color);
  position: relative;
}

/* Псевдоелемент головної навігації */
.link::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  margin-bottom: -32px;
  bottom: 0;
  background-color: var(--hover-color);
  border-radius: 2px; 
}

/* Відступи у секціях */
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Головний заголовок */
.hero__title{
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Блок - "Титул" */
.hero{
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  text-align: center;

  background-color: var(--section-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Кнопкa з головної сторінки */
.hero__button{
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
}

/* Кнопки з портфолио */
.button{
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
}

/* Вирівнювання кнопок з портфоліо */
.button-filter{
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
  margin: 0;
}

.button-filter :not(:last-child){
  margin-right: 8px;
}

.button-portfolio:hover,
.button-portfolio:focus{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Заголовок про нас */
.secondary-title{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

/* Приховування */
.visually-hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title-name{
  display: block;
  margin-bottom: 50px;
}

.section-name{
  padding-top: 0;
}

/* Заголовок переваг */
.advantage__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--name-color);
}

.advantage__name:not(:last-child){
  margin-right: 30px;
}

/* Модальне вікно */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
  /* visibility: visible; */
  opacity: 0;
  pointer-events: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;;
}

.close{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: var(--name-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  /* background-image: url(../images/Close-X.svg); */
  padding: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.close:hover{
  fill: var(--hover-color);
}

.action{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Форма модального вікна */
.form{
  /* width: 528px;
  height: 581px; */
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__title{
  display: block;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

.form__field{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

/* .form-field input{
  margin: 0;
  padding: 0;
} */

.form__input{
  width: 448px;
  height: 40px;
  padding: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* font-style: 12px; */
  font-weight: bold;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus{
  border-color: var(--hover-color);
}

.form__input:hover + .form__icon{
  fill: var(--hover-color);
}

.form__label{
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form__icon{
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
}

textarea{
  resize: none;
  width: 100%;
  height: 120px;
  background-repeat: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  /* padding: 10px; */
  /* color: rgba(117, 117, 117, 0.5); */
  font-style: normal;
  /* font-weight: 400; */
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  color: var(--name-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover{
  border-color: var(--hover-color);
}

.check-line { 
  margin: 10px 0; 
} 

.checkbox-agree{
  display: flex; 
  align-items: center; 
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 12px;
}

.checkbox-agree .icon-wrapper { 
  width: 16px; 
  height: 15px; 
  border: 2px solid #212121; 
  border-radius: 2px; 
  margin-right: 8px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

.icon-agree{
  position: absolute;
  width: 16px;
  height: 15px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-agree .agree-icon { 
  fill: transparent; 
} 

.check-line input:checked + .checkbox-agree .icon-wrapper { 
  background-color: #2196f3; 
  border: none; 
} 

.check-line input:checked + .checkbox-agree .agree-icon { 
  fill: #ffffff;

  background-image: url(../images/icon-check.svg);
  background-color: var(--hover-color);
  fill: var(--hover-color);
  background-size: contain;
  border-color: transparent;
  background-origin: border-box; 
} 



/* Початок мого чексбоксу */
/* 
.checkbox{
  position: relative;
} */

.checkbox__input{
  /* -webkit-appearance: none;
  appearance: none; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* 
.checkbox__terms{
  position: absolute;
  width: 16px;
  height: 15px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox__input:checked + .checkbox__terms{
  background-image: url(../images/icon-check.svg);
  background-color: var(--hover-color);
  fill: var(--hover-color);
  background-size: contain;
  border-color: transparent;
  background-origin: border-box;
 }

.terms{
  display: flex; 
  align-items: center; 
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 36.38px;
} */

/* Кінець мого чекбоксу */


.contract{
  color: var(--hover-color);
  position: relative;
  margin-left: 5px; 
}

.contract::before{
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: 6px;
  background-color: var(--hover-color);
}

.modal-button{
  margin: auto;
  margin-top: 30px;
  padding: 10px 52px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

/* Іконки переваг */
.advantage__button{
  padding: 0;
  border: none;
  width: 270px;
  height: 120px;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
}

.advantage__icon{
  width: 70px;
  height: 70px;
  fill: currentColor;
}

/* Фон для секції "Наша робота" */
.work__position{
  position: relative;
  }

.work__type{
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 370px;
  height: 70px;
}

/* Вирівнювання секцій */
.advantage,
.work,
.team,
.clients{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

/* Опис переваг */
.advantage__text{
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Блок - "команда" */
.our-team{
  background-color: #f5f4fa;
}

/* Зняття батьківських маржинів */
.team__photo:not(:last-child){
  margin-right: 30px;
}

.work__photo:not(:last-child){
  margin-right: 30px;
}

/* .clients-name:not(:last-child){
  margin-right: 30px; */

/* П.І.Б */
.team__name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
}

/* Посади */
.team__position{
  padding-bottom: 30px;
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Іконки соцмереж команди */
.social{
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 30px;
  /* color: #AFB1B8; */
}

/* .social-item{
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-item:last-child{
  margin-right: 0;
} */

.social__icon{
  width: 20px;
  height: 20px;
  fill:  #AFB1B8;
}

.social__link{
  width: 44px;
  height: 44px;
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social__link:hover,
.social__link:focus{
  background-color: var(--hover-color);
  /* fill: var(--white-color); */
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:hover,
.social__icon:focus{
  fill: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Межі посад і П.І.Б */
.team__border{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 0px 0px 4px 4px;
}

/* Постійні клієнти */
.our-clients{
  padding-bottom: 94px;
  padding-top: 50px;
}

.regular-clients{
  padding-top: 94px;
}

.clients__name{
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients__name:last-child{
  margin-right: 0;
}

.clients__name:hover,
.clients__name:focus{
  border: 1px solid #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__icon{
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

.client__link .clients__icon:hover,
.client__link .clients__icon:focus{
  fill: var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Назва проекту */
.project__name{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-color);
}

/* Тип проекту */
.project__type{
  margin: 0;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Межі карток проектів */
.projects__border{
  border: 1px solid #EEEEEE;
  padding-left: 24px;
}

/* Вирівнювання секції "Проекти */
.projects{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* Оверлей */
.projects__item{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.shadow{
  position: relative;
  overflow: hidden;
}

.project__shadow:hover .overlay{
  transform: translatey(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-color);
  transform: translatey(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.overlay > p{
  color: #fff;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.project__shadow:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:nth-child(3n){
  margin-right: 0;
}

.projects__item:nth-last-child(-n + 3){
  margin-bottom: 0;
}

/* Альтернативний варіант */
/* .projects-item:not(:nth-child(3n)){
margin-right: 30px;
} */

/* .projects-item:not(:nth-last-child(-n + 3)){
margin-bottom: 30px;
} */

/* Footer */
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-color);
}

.footer__adress{
  font-size: 14px;
  line-height: 1.71;
  padding-bottom: 9px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer__mail,
.footer__tel{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__mail{
  padding-bottom: 9px;
}

/* Текст */
.footer__text{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

/* Іконки з футера */
.footer__icons{
  background-color: rgba(255, 255, 255,0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.footer__icons:last-child{
  margin-right: 0;
}

.block__icons{
  padding-top: 20px;
}

.block__footer{
  fill: #ffffff;
}

.footer__logo{
  margin: 0 0 20px 0;
}

.footer__contacts{
  display: flex;
}

.block{
  padding-left: 70px;
  padding-top: 10px;
}

/* Підписка */
.footer__form{
  padding-left: 93px;
  padding-top: 10px;
}

.subscribe__field{
  display: flex;
  margin-top: 20px;
}

/* .sudscribe__label{
 
} */

.subscribe__input{
  width: 358px;
  height: 50px;
  padding-left: 16px;
    
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button{
  margin: auto;
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  position: relative;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.subscribe__icon{
  width: 24px;
  height: 24px;
  fill: var(--white-color);
  position: absolute;
  right: 28px;
}
