
.advantage__name:not(:last-child){
  margin-right: 30px;
}

.advantage__button{
  padding: 0;
  border: none;
  width: 270px;
  height: 120px;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
}

.advantage__icon{
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.advantage__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--name-color);
}

.advantage__text{
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
